$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #349f03;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 16px;
}

hr {
  border: .5px solid $primary-color;
  height: 1px;
  color: $primary-color;
  background-color: $primary-color;
}

.container {
  position: relative;
  max-width: 1150px;
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: -10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  p {
    font-size: 14px;
    padding: 0 10px;
  }
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
}

.fa-bars, .fa-user {
  color: $secondary-color;
}
