* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px; }

hr {
  border: 0.5px solid #333;
  height: 1px;
  color: #333;
  background-color: #333; }

.container {
  position: relative;
  max-width: 1150px;
  min-width: 280px;
  margin: 0 auto; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: -10px; }

.nav-links {
  display: flex;
  align-items: center; }
  .nav-links p {
    font-size: 14px;
    padding: 0 10px; }

.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px; }

.fa-bars, .fa-user, .fa-home {
  color: #349f03; }

ul.breadcrumbs {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  list-style: none; }
  ul.breadcrumbs li {
    display: inline;
    font-size: 12px; }
    ul.breadcrumbs li a {
      color: #349f03;
      text-decoration: none; }
      ul.breadcrumbs li a:hover {
        text-decoration: underline; }
  ul.breadcrumbs li + li:before {
    font-family: FontAwesome;
    padding: 8px;
    color: #e9e9e9;
    content: "\f054"; }
